# main configuration

outDir = sikRun
metadata = supplementary/examples/metadata.tsv
aligner = star
refFiles = supplementary/examples/refFilesDir
genomeIdx = supplementary/examples/refFilesDir/Mus_musculus.GRCm38.dna_sm.primary_assembly.starIdx
geneModels = supplementary/examples/refFilesDir/Mus_musculus.GRCm38.91.gtf.gz
fasta = supplementary/examples/refFilesDir/Mus_musculus.GRCm38.dna_sm.primary_assembly.fa.gz
counts = true
qc = true
paired = false
mdups = false

# additional configurations

starAlignCpu = 4000000
starExe = STAR
--outSAMunmapped = Within Hey hey
