# This is config file
starExe = STAR
countsExe = featureCounts
fastqcExe = fastqc
pythonExe = python
#picardExe = java -Xmx3g -XX:ParallelGCThreads=4 -jar /home/kirill/software/source/picard-tools-2.4.1/picard.jar
picardExe = picard
samtoolsExe = samtools
multiqcExe = /home/kirill/.virtualenv/multiqc-fork/bin/multiqc
#RNAseQCexe = rna-seqc
RNAseQCexe = /usr/lib/jvm/java-7-openjdk-amd64/bin/java -Xmx8g -jar /software/apps/RNA-SeQC_v1.1.8/RNA-SeQC_v1.1.8.jar
