# config file
# NOTE can't have comment on the same line as options
# i.e starExe = STAR # comment
# is not allowed, that will break config file and result in errors during runtime
# paths to tools executable
starExe = STAR
hisat2Exe = hisat2
bwaExe = bwa
samtoolsExe = samtools
bedtoolsExe = bedtools
countsExe = featureCounts
fastqcExe = fastqc
pythonExe = python
picardExe = picard
qualimapExe = qualimap
multiqcExe = multiqc
skewerExe = skewer

# memory settings for different tools
starIdxMem = 40000000000
starAlignMem = 40000000000
samtoolsSortMem = 3000000
picardMarkDupsMem = 6000000000

# threads settings for different tools

starIdxCpu = 30
starAlignCpu = 10
samtoolsSortCpu = 5
picardMarkDupsCpu = 2
