# config file
# NOTE can't have comment on the same line as options
# i.e starExe = STAR # comment
# is not allowed, that will break config file and result in errors during runtime
# paths to tools executable

# STAR aligner
starExe = STAR

starIdxCpu = 24
starAlignerCpu = 10

starIdxMem = 40000000000
starAlignerMem = 40000000000
#----------

# hisat2 aligner
hisat2Exe = hisat2

hisat2IdxCpu = 30
hisat2AlignerCpu = 10

hisat2IdxMem = -1
hisat2AlignerMem = -1
#----------
#
# bwa aligner
bwaExe = bwa

bwaIdxCpu = 30
bwaMemAlignerCpu = 10

bwaIdxMem = -1
bwaMemAlignerMem = -1
#----------

# samtools
samtoolsExe = samtools

samtoolsSortCpu = 4
samtoolsQcCpu = 2
samtoolsFaidxCpu = 1

samtoolsSortMem = 3000000000
samtoolsQcMem = -1
samtoolsFaidxMem = -1
#----------

# bgzip
bgzipExe = bgzip
bgzipCpu = 1
bgzipMem = -1
#----------

# bedtools
bedtoolsExe = bedtools
bedtoolsCpu = 2
bedtoolsMem = 4000000000
#----------

# picard
picardExe = picard

picardMarkDupsCpu = 2
picardQcCpu = 2
picardDictCpu = 2

picardMarkDupsMem = 6000000000
picardQcMem = 6000000000
picardDictMem = 4000000000
#----------

# read counts
countsExe = featureCounts
countsCpu = 10
countsMem = -1

repairExe = repair
repairCpu = 10
repairMem = -1
#----------

# Unix cp command
cpExe = cp
cpCpu = 2
cpMem = 4000000000
#----------

# je for UMI aware mdups
jeExe = je
jeCpu = 2
jeMem = 6000000000
#----------

# fastq trimmer
skewerExe = skewer
skewerCpu = 5
skewerMem = -1
#----------

# FastQC
fastqcExe = fastqc
fastqcCpu = 8
fastqcMem = -1
#----------

# MultiQC report generation tool
multiqcExe = multiqc
multiqcCpu = 2
multiqcMem = -1
#----------

#chromSizeExe = programPath.pathName()+"/../scripts/ucsc_bin/faSize"
pythonExe = python

