# config file
# NOTE can't have comment on the same line as options
# i.e starExe = STAR # comment
# is not allowed, that will break config file and result in errors during runtime
# paths to tools executable
starExe = STAR
hisat2Exe = hisat2
bwaExe = bwa
samtoolsExe = samtools
bedtoolsExe = bedtools
countsExe = featureCounts
fastqcExe = fastqc
pythonExe = python
picardExe = picard
jeExe = je
qualimapExe = qualimap
multiqcExe = multiqc
skewerExe = skewer
cpFileExe = cp

# memory settings for different tools
starIdxMem = 40000000000
starAlignerMem = 40000000000
bwaIdxMem = -1
bwaAlignerMem = -1
hisat2IdxMem = -1
hisat2AlignerMem = -1
samtoolsSortMem = 3000000000
samtoolsQcMem = -1
picardMarkDupsMem = 6000000000
picardQcMem = 6000000000
jeMem = 6000000000
picardQcMem = -1
picardCreateDictMem = 4000000000
countsMem = -1
bedtoolsMem = 4000000000
fastqcMem = -1
multiqcMem = -1
# don't yet use this memory setting, here as a place holder
skewerMem = -1
cpFileMem = 4000000000

# threads settings for different tools

starIdxCpu = 24
starAlignerCpu = 10
bwaIdxCpu = 30
bwaAlignerCpu = 10
hisat2IdxCpu = 30
hisat2AlignerCpu = 10
samtoolsSortCpu = 4
samtoolsQcCpu = 2
picardMarkDupsCpu = 2
jeCpu = 2
picardQcCpu = 2
picardCreateDictCpu = 2
bedtoolsCpu = 2
countsCpu = 5
fastqcCpu = 8
multiqcCpu = 2
skewerCpu = 5
cpFileCpu = 2
